<div ng-controller="FolderViewAccordianCtrl">

    <accordion>
        
        <accordion-group>
            <accordion-heading>
                PERSONAL <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': status}"></i>
            </accordion-heading>
            Personal folders goes here
        </accordion-group>
        
        <accordion-group is-open="status.open">
            <accordion-heading>
                SHARED <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': status}"></i>
            </accordion-heading>
            Shared folders goes here
        </accordion-group>
        
        <accordion-group>
            <accordion-heading>
                COMPANY <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': status}"></i>
            </accordion-heading>
            Company folders goes here
        </accordion-group>
        
        <accordion-group>
            <accordion-heading>
                PREMIUM <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status, 'glyphicon-chevron-right': status}"></i>
            </accordion-heading>
            Premium folders goes here
        </accordion-group>    
        
    </accordion>
    
</div>